.navbar {
  position: absolute;
  bottom: var(--nav-bar-position-bottom);
  left: 0;
  right: 0;
  top: var(--nav-bar-position-top);
  z-index: var(--layer-1);
  overflow: hidden;
  margin:var(--nav-bar-block-margin) var(--nav-bar-inline-margin);
  width: calc(100% - var(--nav-bar-inline-margin) * 2);
  border-radius: var(--nav-bar-border-radius);
}

.navbar::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--nav-bar-background);
  background-size: cover;
  background-blend-mode: overlay;
  z-index: -1;
  filter: blur(1rem);
  opacity: 0.5;
}

.navbar ul {
  padding: var(--nav-bar-block-padding) var(--nav-bar-inline-padding);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, var(--nav-bar-item-size));
  justify-content: space-between;
  align-items: center;
}

.navItem svg {
  fill: var(--nav-bar-icon-color);
  transform: translateY(12px) scale(0.9);
  transition: transform 0.4s;
}

.selected svg,
.navItem:hover svg {
  transform: translateY(0) scale(1);
}

.navItem a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
  border-radius: var(--size-3);
  height: 100%;
  width: 100%;
  color: var(--nav-bar-color);
  font-size: var(--nav-bar-font-size);
}

.navItem span {
  transform: scale(0);
  transition: transform 0.2s;
}

.selected span,
.navItem:hover span {
  transform: scale(1);
}
