@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(-100%)
    }
}

@keyframes slide-in-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main:has(.banner) {
    background-color: var(--surface-1); 
}

.banner {
    /* background-image: var(--gradient-26); */
    padding: var(--size-fluid-5);
    border-radius: var(--radius-3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bannerContent {
    animation: slide-in-right 0.3s;
    z-index: var(--layer-1);
}

.socials {
    padding-top: var(--size-2);
    animation: slide-in-down 0.8s;
    display: flex;
    flex-direction: row;
    gap: var(--size-fluid-2);
}

.socials svg {
    fill: var(--text-1);
    width: 78px;
    transition: fill .2s;
    filter: drop-shadow(3px 5px 8px hsl(var(--gray-9-hsl) / 5%));
}

.socials svg:hover {
    fill: var(--text-1);
    filter: drop-shadow(3px 5px 8px hsl(var(--gray-9-hsl) / 0%));
}

.heroImage {
    height: 100%;
    width: 20em;
    z-index: var(--layer-2);
    min-width: 200px;
}

.heroTitle {
    animation: fade-in 0.8s ease-in-out forwards;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
    color: var(--text-1);
    white-space: nowrap;
    text-shadow: 1px 1px 8px hsl(var(--gray-9-hsl) / 20%);
}

.heroName {
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-7);
    line-height: 0.9em;
    color: var(--brand);
    white-space: nowrap;
}


@media (max-width: 900px) {
    .banner {
        flex-direction: column;
        gap: var(--size-4);
    }

    .bannerContent {
        text-align: center;
        animation: slide-in-down 0.4s;
    }
}

@media (max-width: 560px) {
    .heroTitle {
        font-size: var(--font-size-5);
    }

    .heroName {
        font-size: var(--font-size-6);
    }

}

@media (max-width: 380px) {
    .heroTitle {
        font-size: var(--font-size-4);
    }

    .heroName {
        font-size: var(--font-size-5);
    }
}