.container {
    --max-layout-width: 1550px;
    --mountain-length: min(100vw, var(--max-layout-width));

    margin: auto;
    max-width: var(--max-layout-width);
    background-color: #f6e1b6;
    align-items: center;
    display: flex;
    overflow: hidden;
    height: 500vh;
    flex-direction: column;
    padding-top: 800px;
    position: relative;
}

.container::before {
    position: absolute;
    content: '';
    background: url('/overhang.png') no-repeat bottom;
    background-size: cover;
    height: 50vw;
    bottom: 100%;
    left: 0;
    right: 0;
}

/* 
Limitation of my parallax demo is that I have made
the decision to absolute position my content. 
As such, there is the risk that the background is 
longer or shorter than the actual content. 
I will need to manually adjust the container height to 
reasonably accomodate all the content 
*/
.contentContainer {
    position: absolute;
    inset: 0 0 0 0;

    z-index: 5;
    padding: 15px;
}

.mountainsUpper {
    position: relative;

    height: var(--mountain-length);
    width: var(--mountain-length);
    background: url('/mountains-upper.svg') no-repeat center;
    background-size: contain;
}

/* Filler material incase we can see under the image */
.mountainsUpper::before {
    position: absolute;
    background-color: #548f97;
    /* Cant use 100%. We need the overlap so that this filler blends in. */
    top: 99%;
    left: 0;
    right: 0;
    height: var(--mountain-length);
    content: '';
}

.mountainsLower {
    width: var(--mountain-length);
    height: var(--mountain-length);
    background: url('/mountains-front.svg') no-repeat center;
    background-size: contain;
    /* margin-top: calc(var(--mountain-length) / -4); */
    position: relative;
}

/* Filler material incase we can see under the image */
.mountainsLower::before {
    position: absolute;
    background-color: #d09c65;
    /* Cant use 100%. We need the overlap so that this filler blends in. */
    top: 99%;
    left: 0;
    right: 0;
    height: calc(var(--mountain-length) * 2);
    content: '';
}