@import "open-props/style";
@import "open-props/normalize";
@import "open-props/colors-hsl";

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: var(--font-sans);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
  color: var(--gray-2);
  text-shadow: 1px 1px 12px hsl(var(--gray-9-hsl) / 50%);
  letter-spacing: var(--font-letterspacing-1);
}

@media (max-width: 450px) {
  p {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
  }
}