@import "open-props/style";
@import "open-props/normalize";
@import "open-props/media";
@import "open-props/colors-hsl";

:root {
  color-scheme: light;
}

@media (--os-dark) {
  :root {
    color-scheme: dark;
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--indigo-5);
  --text-1: var(--purple-9);
  --text-2: var(--purple-7);
  --text-3: var(--purple-5);
  --text-4: var(--purple-3);
  --surface-1: var(--purple-0);
  --surface-2: var(--purple-1);
  --surface-3: var(--purple-2);
  --surface-4: var(--indigo-3);
  --surface-5: var(--indigo-4);
  --surface-shadow: var(--purple-12-hsl);
  --shadow-strength: 2%;

  --inverse-text-1: var(--orange-2);
  --inverse-text-2: var(--orange-3);
  --inverse-text-3: var(--orange-4);
  --inverse-text-4: var(--orange-5);

  --nav-bar-background: var(--noise-5), var(--gradient-21);
  --nav-bar-color: var(--orange-1);
  --nav-bar-icon-color: var(--orange-2);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--choco-5);
  --text-1: var(--choco-1);
  --text-2: var(--choco-2);
  --text-3: var(--choco-3);
  --text-4: var(--choco-4);
  --surface-1: var(--gray-8);
  --surface-2: var(--gray-7);
  --surface-3: var(--gray-6);
  --surface-4: var(--cyan-5);
  --surface-5: var(--cyan-6);
  --surface-shadow: var(--gray-9-hsl);
  --shadow-strength: 20%;

  --inverse-text-1: var(--jungle-1);
  --inverse-text-2: var(--jungle-2);
  --inverse-text-3: var(--jungle-3);
  --inverse-text-4: var(--jungle-4);

  --nav-bar-background: var(--noise-4), var(--gradient-18);
  --nav-bar-color: var(--violet-0);
  --nav-bar-icon-color: var(--violet-1);
}

body {
  font-family: system-ui, sans-serif;
  display: grid;
}
body > div {
  block-size: 100%;
  height: 100%;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s;
}

section {
  display: grid;
  gap: var(--size-6);
}

h1 {
  font-weight: var(--font-weight-1);
}

header {
  display: inline-grid;
  gap: var(--size-3);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: var(--text-2);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-4);
  letter-spacing: var(--font-letterspacing-1);
  line-height: var(--font-lineheight-3);
  max-inline-size: var(--size-content-1);
  text-shadow: 1px 1px 12px hsl(var(--surface-3) / 50%);
}

/* @media (max-width: 450px) {
  p {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
  }
} */
