.main {
  padding: var(--size-fluid-2) var(--size-fluid-5);
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 560px) {
  .main {
    padding: var(--size-fluid-2) var(--size-fluid-3);
  }
}


@media (max-width: 450px) {
  .main {
    padding: var(--size-fluid-2) var(--size-fluid-2);
  }
}