@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.main{
  padding: var(--size-fluid-5);
  /* max-width: 500px; */
  font-family: var(--font-sans);
}

.banner{
  background-image: var(--gradient-5);
  padding: var(--size-fluid-5);
  border-radius: var(--radius-3);
  display:flex;
  flex-direction: row;
}

.bannerContent{
  
}