.date {
    grid-area: date;
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-5);
    letter-spacing: var(--font-letterspacing-2);
    text-align: right;
    color: var(--gray-3)
}

.titleBlock {
    grid-area: titleBlock;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.role {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-6);
    white-space: nowrap;
}

.company {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-5);
    white-space: nowrap;
}

.container {
    padding: var(--size-1) 0 var(--size-2);
    cursor: pointer;
    color: var(--gray-4);
    text-shadow: 1px 1px 8px var(--gray-9);
}

.container:focus, .container:active {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
}

/* Hover styling is sticky on touch devices. This fixes that */
@media (hover: hover) {
    .container:hover {
        background: rgba(255, 255, 255, 0.21);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
    }
}

.header {
    padding: var(--size-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-4);
    box-sizing: border-box;
    border-radius: var(--radius-3)
}

.header img {
    border-radius: 50%;
    width: 60px;
    object-fit: contain;
    height: 100%;
}

.headerContents {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas: "titleBlock date chevron";
    align-items: center;
    justify-content: space-between;
}

.chevron {
    padding: 0 var(--size-2);
    grid-area: chevron;
    justify-self: center;
    transform: rotate(180deg);
    transition: transform .4s var(--ease-in-out-5);
}

.chevronExpanded {
    transform: rotate(0deg);
}

.chevron svg {
    fill: var(--indigo-8);
    height: 100%;
    width: 24px;
}

.details {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    height: auto;
    max-height: 0;
    padding-left: 90px;
}

.detailsExpanded {
    max-height: 600px;
}

.detailsFooter {
    padding-bottom: var(--size-3);
}

.companyLink:hover, .companyLink:active {
    color: var(--indigo-1);
}

.companyLink {
    text-shadow: 1px 1px 12px hsl(var(--gray-9-hsl) / 80%);
    color: var(--indigo-2);
    display: flex;
    flex-direction: row;
    gap: var(--size-2);
    align-items: center;
}

.companyLink:hover svg, .companyLink:active svg {
    fill: var(--gray-1);
    opacity: 0.9;
}

.companyLink svg {
    opacity: 0.5;
    fill: var(--gray-3);
    height: 100%;
    width: var(--size-3);
}

@media (max-width: 900px) {
    .headerContents {
        grid-template-columns: auto auto;
        /*   grid-template-rows: 1fr auto; */
        grid-template-areas: "titleBlock chevron"
            "date chevron"
    }

    .date {
        font-size: var(--font-size-4);
        text-align: left;
    }
}

@media (max-width: 500px) {
    .header {
        gap: var(--size-3);
    }

    .details {
        padding-left: var(--size-3);
    }

    .role {
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-5);
    }

    .date {
        font-size: var(--font-size-3);
    }

    .company {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-4);
    }
}


@media (max-width: 450px) {
    .header {
        gap: var(--size-2);
    }
}

@media (max-width: 400px) {
    .header img {
        width: 45px;
    }

    .chevron svg {
        width: 16px;
    }
}

@media (max-width: 370px) {
    .header img {
        display: none;
    }

    .details {
        padding-left: var(--size-2);
    }
}