.date {
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-5);
    letter-spacing: var(--font-letterspacing-2);
    text-align: right;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.role {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-7);
}

.company {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-5);
    white-space: nowrap;
}

.container {
    padding: var(--size-3) 0;

}

.header {
    padding-bottom: var(--size-2);
    margin-bottom: var(--size-2);
    border-bottom: 3px var(--blue-4) solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-4);
}

.header img {
    border-radius: 50%;
    width: 60px;
    object-fit: contain;
    height: 100%;
}

.headerContents {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.details {
    padding-left: 80px;
}

@media (max-width: 900px) {
    .headerContents {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
    }

    .date {
        font-size: var(--font-size-4);
        text-align: left;
    }
}

@media (max-width: 500px) {
    .header {
        gap: var(--size-3);
    }

    .details {
        padding-left: 0;
    }

    .role {
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-5);
    }

    .date {
        font-size: var(--font-size-3);
    }

    .company {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-4);
    }
}

@media (max-width: 400px) {
    .header img {
        width: 45px;
    }
}

@media (max-width: 370px) {
    .header img {
        display: none;
    }
}